* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-jost), sans-serif;
}

body {
  color: #333;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
