.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f1ea;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 140px 0 2rem;
  flex: 1;
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
